{% extends 'base.html' %}
{% load static %}
{% block title %}
Creando Plato...
{% endblock %}


{% block content %}
    <section class="w-full h-full flex justify-center items-center mt-10">
    <div class="flex w-3/4">
        <!-- FORMULARIO -->
        <form method="POST" class="border border-2 border-black rounded-lg w-1/2 flex flex-col p-4">
            <h2 class="text-3xl font-extrabold text-center mb-4">Creando Plato</h2>
            <hr class="border-dotted border-black mb-4">
            {% csrf_token %}
            {% for field in form %}
                <label class = "text-xl font-semibold">{{ field.label }}</label>
                {{ field }}
            {% endfor %}

            <!-- Contenedor de productos seleccionados -->
            <h3 class="text-xl font-bold mb-2">Productos seleccionados:</h3>
            <div id="productos-seleccionados" class="flex flex-wrap gap-2 border p-2 rounded mb-4 min-h-[50px]">

            </div>

            <div class="w-full flex justify-center p-2">
                <input type="submit" value="Crear"
                       class="bg-cyan-500 mt-1 mb-1 w-1/2 h-10 text-xl text-white font-bold hover:bg-cyan-600">
            </div>
        </form>

        <!-- PRODUCTOS DISPONIBLES A LA DERECHA -->
        <div class="w-1/2 p-4 border-l border-black">
            <h3 class="text-xl font-bold mb-2 text-center">Productos disponibles</h3>
            <div id="productos-disponibles" class="flex flex-wrap gap-2 p-2">
                {% for producto in productos_disponibles %}
                    <div class="tag bg-gray-300 text-black rounded-full px-3 py-1 cursor-pointer"
                        data-id="{{ producto.id }}" onclick="addProduct(this)">
                        {{ producto.nombre_producto }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<script src = "{% static 'js/admin.js' %}"></script>
{% endblock %}